<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div class="container">
    <form action="/members/login" method="post">
        <div class="form-group">
            <label for="name">ID: </label>
            <input type="text" id="name" name="name" placeholder="ID를 입력하세요">
        </div>
        <div class="form-group">
            <label for="password">PW: </label>
            <input type="text" id="password" name="password" placeholder="비밀번호를 입력하세요">
        </div>
        <input type="submit" value="로그인" />
    </form>
</div> <!-- /container -->
</body>
</html>